 name: Android CI
     on:
       push:
         branches: [ "master" ]
       pull_request:
         branches: [ "master" ]
     jobs:
       build:
         runs-on: ubuntu-latest
         steps:
         - uses: actions/checkout@v3
         - name: set up JDK 17
           uses: actions/setup-java@v3
           with:
             java-version: '17'
             distribution: 'temurin'
             cache: gradle
         - name: Setup Android SDK
           uses: android-actions/setup-android@v2
         - name: Install NDK
           run: sdkmanager "ndk;21.4.7075529"
         - name: Grant execute permission for gradlew
           run: chmod +x gradlew
         - name: Build with Gradle
           run: ./gradlew :TMessagesProj_App:assembleAfatDebug --no-daemon
         - name: Upload APK
           uses: actions/upload-artifact@v3
           with:
             name: app-debug
             path: TMessagesProj_App/build/outputs/apk/afat/debug/app.apk
